@model IEnumerable<ITDepartment.Models.ProjectDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDeadline)
        </th>
        <th></th>
    </tr>

@foreach (var project in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => project.ProjectDeadline)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=project.ProjectId }) |
            @Html.ActionLink("Details", "Details", new { id=project.ProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=project.ProjectId })
        </td>
    </tr>
}

</table>
