@using ITDepartment.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Text.Projects, "Index", "Project")</li>
                    <li>@Html.ActionLink(Text.Sprints, "Index", "Sprint")</li>
                    <li>@Html.ActionLink(Text.Tasks, "Index", "Task")</li>
                    <li>@Html.ActionLink(Text.Tests, "Index", "Test")</li>
                    <li>@Html.ActionLink(Text.Releases, "Index", "Release")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")

    @RenderSection("scripts", required: false)
</body>
</html>
