@using ITDepartment.Resources
@using ITDepartment.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    @if (SessionHelper.CanView("Project"))
                    {
                        <li>@Html.ActionLink(Text.Projects, "Index", "Project")</li>
                    }
                    @if (SessionHelper.CanView("Sprint"))
                    {
                        <li>@Html.ActionLink(Text.Sprints, "Index", "Sprint")</li>
                    }
                    @if (SessionHelper.CanView("Task"))
                    {
                        <li>@Html.ActionLink(Text.Tasks, "Index", "Task")</li>
                    } 
                    @if (SessionHelper.CanView("Release"))
                      {
                          <li>@Html.ActionLink(Text.Releases, "Index", "Release")</li>
                      }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink($"Logout {SessionHelper.GetUsername()} as {SessionHelper.GetRole()}", "Logout", "Login")</li>
                </ul>
                

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")

    @RenderSection("scripts", required: false)
</body>
</html>
